<html> 
    <head>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900' rel='stylesheet' type='text/css'>
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <div class="left-nav float-left">
          <div>
            <h2>MAX</h2>
            <ul>
              <li>Channels</li>
              <li><a href="/commands">Commands</a></li>
              <li>Devices</li>
            </ul>
          </div>
        </div>

        <div class="center-content float-left">
          <div>

            <ul>
              <li class="entry">
                <form action="/command/new" method="post">
                  <span class="float-left">
                    <input type="text" name="query" placeholder="  Your query"/>
                  </span>
                  <span class="float-right">
                    <input type="submit" value="+" class="blue-button" />
                  </span>
                  <span class="float-right">
                    <input type="text" name="response" placeholder="  Max's answer here"/>
                  </span>
                </form>
              </li>
              <% for(var i=0; i<commands.length; i++) {%>
                <li class="command">
                  <span class="float-left query"><%= commands[i].query %></span>
                  <span class="float-right response"><%= commands[i].response %></span>
                </li>
              <% } %>
            </ul>
          </div>
        </div>

        <div class="right-sidebar float-left">
          <div>
            hello  <span class="username"><%= user.username %></span> !
          </div>
        </div>
      </div>
  </body>
</html>