<html>
<form action="/command/new" method="post">
    <div>
        <label>Channel:</label>
        <input type="text" name="channel"/>
    </div>
    <div>
        <label>Query:</label>
        <input type="text" name="query"/>
    </div>
    <div>
        <label>Response:</label>
        <input type="text" name="response"/>
    </div>
    <div>
        <input type="submit" value="New Command"/>
    </div>
</form>
</html>